<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.peckie.Dev" autowire="byName">
<!--        <property name="comp" ref="comp"/>-->
    </bean>

    <bean id="comp" class="com.peckie.Laptop" primary="true">
    </bean>

    <bean id="comp1" class="com.peckie.Desktop">
    </bean>

</beans>
